body{
    background-color: #00639C;
    height: 100%;
    display: flex;
}
.menu{
    display: grid;
    gap: 4%;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    max-width: 500px;
    aspect-ratio: 3/4;
    border: 4px solid white;
    border-radius: 5%;
    margin: 2% auto;
    padding: 2%;
}
.menu img{
    width: 100%;
    height: 100%;
}
.menu a:hover{
    background: #2D5A80;
    border-radius: 10%;
}